@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --signature: #2cbdbc;
  --lightGray: #cacaca;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --font-pinar: var(--font-pinar);
  --font-roman: var(--font-roman);
  --font-impact: var(--font-impact);
  --color-signature: var(--signature);
  --color-lightGray: var(--lightGray);
}

.noisyBackground {
  background: url("/public/main/mainBackground.png");
}
